// font
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// color
:root {
  --dark-color: #081226 !important;
  --light-color: #ffffff !important;
  --gray-dark: #1c2536 !important;
  --gray-2-dark: rgb(39, 48, 62) !important;
  --lightgray-color: rgb(205, 205, 205);
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
